
.DS_Store
Gemfile.lock
.bundle
_site
.idea
vendor
project.dev_error_log*
.env
composer.lock

public/hook.wau-error_log
public/hook.wau-access_log

storages/*/*
!storages/*/*/.gitkeep
!storages/*/.gitkeep

config/develop/*
config/local/*
config/dev/podio.php
composer.phar
