
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}
.navbar-fixed-top{
    background: #1BBC9B;
}
.title-logo, .navbar-nav{
    color:white;
}

.base_title{
    font-size: 170%;
    color: #1BBC9B;
}


.calculation_quota{
    height: 250px;
    background: #f4f4f4;
}

.flat-table {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 110%;
    width: 100%;
    height: 250px;
}
th {
    background-color: #1BBC9B;
    color: white;
    font-weight: normal;
    font-size: 110%;
    padding: 5px 10px;
}
td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding-left: 10px;
    /*padding: 20px 30px;*/
}
.page-header{
    font-size:300%;
}

.td_designation{
    padding-left: 20px;
}
.designation_element{
    padding-left: 10px;
}
.designation_total{
    padding-left: 7px;
}

.td_amount{
    padding-right: 20px;
    text-align: right;
}

.tr_total{
    font-weight: bold;
    font-size: 110%;
    background-color: rgba(35, 130, 255, 0.63);
}

.detail{
    background: #f4f4f4;
}

.detail_head{
    color: #1BBC9B;
    margin-top: 2px;
    margin-left: 14px;
    height: 30px;
    line-height: 18px;
    cursor: pointer;
    padding: 6px;
    padding-right:20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.detail_hr{
    height: 1px;
    background: white;
    margin: 0px 10px 0px 10px;
}

.detail_body{
    display: none;
    height: 200px;
}

.detail_body_elements{
    padding: 20px;
}

.glyphicon-menu-down, .glyphicon-menu-up{
    float: right;
}