#title{
    font-weight: bold ;
}
body{
    font-family: "Open Sans", sans-serif;
}
h1 {
    text-align: center;
}
h4 {
    margin-top: 5%;
    margin-bottom: 15%;
    text-align: center;
}
h3 {
    text-align: left;
}
.column-name {
    cursor: pointer;

}
.workspace-table .cell-action {
    width: 10%;
}
.workspace-table {
    width: 60%;
    padding: 1px 6px;

}
.ak-top-title {
     color: #5092bd ;
     margin-bottom: 50px;
 }
.ak-title {
    color: #5092bd ;
    margin-bottom: 15px;
}
.bg-color-base{
    background-color: #5092bd;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
     color: #ffffff;
 }
.ak-border-form {
    border: 2px solid #deebed;
    border-radius: 2px;
    padding: 24px 12px;
  /*  height: 145px;*/
  /*  margin-bottom: 50px;*/
}
.table-responsive {
    margin-top: 40px;
}
.bg-color-danger {
    background-color: #d9534f;
}


.form-control{
    margin-left: auto;
    margin-right: auto;
}

.button {
    width:300px;
    margin-left: auto;
    margin-right: auto;
}
#message{
    display: none;
}

.form_hook input ,select {
}

.fil-de-fer{

    margin-left: auto;
    margin-right: auto;
}

