{% extends 'layout.twig' %}

{% block body %}
    <br/>
    <form id="client_form">
        <div class="form-group row">
            <label for="label" class="col-xs-2 col-form-label">Reference</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" name="reference" id="reference"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="label" class="col-xs-2 col-form-label">Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" name="name" id="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="label" class="col-xs-2 col-form-label">Number of adult</label>
            <div class="col-xs-10">
                <input class="form-control number" type="number" min="0" max="100"  name="nbAdults" id="nbAdults"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="label" class="col-xs-2 col-form-label">Number of children</label>
            <div class="col-xs-10">
                <input class="form-control number" type="number" min="0" max="100" name="nbChildren" id="nbChildren"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="label" class="col-xs-2 col-form-label">Beginning of stay</label>
            <div class="col-xs-10">
                <input class="form-control" name="stay" id="stay" placeholder="dd/mm/yyyy" type="text"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-10">
                <span class="client_message"></span>
            </div>
            <div class="col-xs-2">
                <button type="submit" class="col-xs-12" style="margin: 0!important;padding: 0!important"><span class="all_btn col-xs-12" id="btn_save_customer">Save</span></button>
            </div>
        </div>


        <!--show if client saved-->
        <div id="client_saved" class="row">
            <div class="row">
                <h4>Add quotation for this customer</h4>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-md-12 add_quotation" onclick="location.href ='/house'">
                        Room quotation
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-md-12 add_quotation" onclick="location.href ='/prestation'">
                        Benefit quotation
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock body %}

