{% extends 'layout.twig' %}

{% block body %}
<br/>
<div class="col-xs-9" id="main">
    <form id="client_form">
        <div class="form-group row">
            <label for="reference" class="col-xs-4 col-form-label">Reference</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="reference" id="reference" required onInvalid="this.setCustomValidity('Please complete this field')" onchange="try{setCustomValidity('')}catch(e){}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-xs-4 col-form-label">Name</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="name" id="name" required oninvalid="this.setCustomValidity('Please complete this field')" onchange="try{setCustomValidity('')}catch(e){}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="nbAdults" class="col-xs-4 col-form-label">Number of adult</label>
            <div class="col-xs-8">
                <input type="number" class="form-control number" min="0" max="100"  name="nbAdults" id="nbAdults" required oninvalid="this.setCustomValidity('Please complete this field')" onchange="try{setCustomValidity('')}catch(e){}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="nbChildren" class="col-xs-4 col-form-label">Number of children</label>
            <div class="col-xs-8">
                <input type="number" class="form-control number" min="0" max="100" name="nbChildren" id="nbChildren" required oninvalid="this.setCustomValidity('Please complete this field')" onchange="try{setCustomValidity('')}catch(e){}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="stay" class="col-xs-4 col-form-label">Beginning of stay</label>
            <div class="col-xs-8">
                <input type="text" class="form-control " name="stay" id="stay" placeholder="dd/mm/yyyy" required oninvalid="this.setCustomValidity('Please complete this field')" onchange="try{setCustomValidity('')}catch(e){}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-10">
                <span id="client_message" class="pull-right"></span>
            </div>
            <div class="col-xs-2">
                <div class="all_btn">
                    <button type="submit" class="col-xs-12" style="margin: 0!important;padding: 0!important"><span class="col-xs-12" id="btn_save_customer">Save</span></button>
                </div>
            </div>
        </div>


        <!--show if client saved-->
        <div id="client_saved" class="row">
            <div class="row">
                <h4>Add quotation for this customer</h4>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="col-md-12 add_quotation" onclick="location.href ='/editRoom'">
                        Room quotation
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-md-12 add_quotation" onclick="location.href ='/prestation'">
                        Benefit quotation
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock body %}


{% block right_menu %}
    <div id="right_side" class="col-xs-3 sidebar-outer">
        <div class="fixed">
            <div id="well_search" class="well">
                <div id="search_menu_title">
                    <div style="float: left"><h4>All customer</h4></div>
                    <div id="refresh_client" style="float: right"><span class="glyphicon glyphicon-refresh"></span></div>
                </div>

                <div class="input-group" style="width:100%;">
                    <input type="text" class="form-control search_control" id="search_client" placeholder="Search...">
                </div>
                <!-- /.input-group -->
                <div class="row" id="quota_list">
                    <div class="search_message">No result for this search !</div>
                </div>

                <div id="expand">
                    <span id="search_glyphicon" class="menu_glyphicon glyphicon glyphicon-chevron-up"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock right_menu %}