{% extends 'layout.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Quota hotels
                </h1>

                <!-- First Blog Post -->
                <p class="lead">
                    <a class="based_on" href="">Based on Single room</a>
                </p>
                <div class="calculation_quota">
                    <table class="flat-table">

                        <tbody>
                            <tr>
                                <th>Designation</th>
                                <th class="td_amount">Amount Ar</th>
                                <th class="td_amount">Amount Euro</th>
                            </tr>
                            <tr>
                                <td>Single to</td>
                                <td class="td_amount">12000</td>
                                <td class="td_amount">15000</td>
                            </tr>
                            <tr>
                                <td>Breakfast</td>
                                <td class="td_amount">12000</td>
                                <td class="td_amount">15000</td>
                            </tr>
                            <tr>
                                <td>Dinner</td>
                                <td class="td_amount">12000</td>
                                <td class="td_amount">15000</td>
                            </tr>
                            <tr>
                                <td>Lunch</td>
                                <td class="td_amount">12000</td>
                                <td class="td_amount">15000</td>
                            </tr>
                            <tr>
                                <td>Vignette</td>
                                <td class="td_amount">12000</td>
                                <td class="td_amount">15000</td>
                            </tr>
                            <tr>
                                <td>Various tax</td>
                                <td class="td_amount">12000</td>
                                <td class="td_amount">15000</td>
                            </tr>
                            <tr class="tr_total">
                                <td>Total per pax</td>
                                <td class="td_amount">12000</td>
                                <td class="td_amount">15000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="detail" id="only">
                    <div class="detail_head">Detail<span class="glyphicon glyphicon-menu-down"></span></div>

                    <div class="detail_body">
                        <div class="detail_hr"></div>
                        <div class="detail_body_elements">

                            blabla<br/>
                            bleble<br/>
                            blibli<br/>
                            bloblo<br/>
                            blublu

                        </div>
                    </div>
                </div>


                <hr>
                <!-- twice Blog Post -->
                <p class="lead">
                    <a class="based_on" href="">Based on Double room</a>
                </p>
                <div class="calculation_quota">
                    <table class="flat-table">

                        <tbody>
                        <tr>
                            <th>Designation</th>
                            <th class="td_amount">Amount Ar</th>
                            <th class="td_amount">Amount Euro</th>
                        </tr>
                        <tr>
                            <td>Double to</td>
                            <td class="td_amount">12000</td>
                            <td class="td_amount">15000</td>
                        </tr>
                        <tr>
                            <td>Breakfast</td>
                            <td class="td_amount">12000</td>
                            <td class="td_amount">15000</td>
                        </tr>
                        <tr>
                            <td>Dinner</td>
                            <td class="td_amount">12000</td>
                            <td class="td_amount">15000</td>
                        </tr>
                        <tr>
                            <td>Lunch</td>
                            <td class="td_amount">12000</td>
                            <td class="td_amount">15000</td>
                        </tr>
                        <tr>
                            <td>Vignette</td>
                            <td class="td_amount">12000</td>
                            <td class="td_amount">15000</td>
                        </tr>
                        <tr>
                            <td>Various tax</td>
                            <td class="td_amount">12000</td>
                            <td class="td_amount">15000</td>
                        </tr>
                        <tr class="tr_total">
                            <td>Total per pax</td>
                            <td class="td_amount">12000</td>
                            <td class="td_amount">15000</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="detail" id="double">
                    <div class="detail_head">Detail<span class="glyphicon glyphicon-menu-down"></span></div>

                    <div class="detail_body">
                        <div class="detail_hr"></div>
                        <div class="detail_body_elements">

                            blabla<br/>
                            bleble<br/>
                            blibli<br/>
                            bloblo<br/>
                            blublu

                        </div>
                    </div>
                </div>
                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Quota Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->

{% endblock body %}
