{% extends 'layout.twig' %}

{% block edit_client %}
    <div class="col-xs-9 content">
        <h1 class="page-header">
            Customer information
        </h1>
        <div class="customer_info">
            <table class="flat-table">
                <tbody>

               <!-- <form method="post" action="infoController.php"> -->
                    <div class="field">
                        </br>
                        <label class="form-label">Customer ref : </label>
                        <input type="text" class="form-control" id="customerRef" name="customerRef"/></br> </br>
                    </div>
                    <div class="field">
                        <label class="form-label">Name : </label>
                        <input type="text" class="form-control" id="name" name="name"> </br> </br>
                    </div>
                    <div class="field">
                        <label class="form-label">Number of adults : </label>
                        <input type="number" class="form-control" id="nbAdults" name="nbAdults"> </br> </br>
                    </div>
                    <div class="field">
                        <label class="form-label">Number of children : </label>
                        <input type="number" class="form-control" id="nbChildren" name="nbChildren"> </br> </br>
                    </div>
                    <div class="field">
                        <label class="form-label">Beginning of stay : </label>
                        <input type="date" class="form-control" id="stay" name="stay"> </br> </br>
                    </div>
               <!---  <input type="submit" class="form-submit" value="Next &rarr;">
                 </form> -->
                <button class="btn btn-primary form-submit" id="btn-save">
                    <span class="glyphicon glyphicon-next">
                        Next =>
                    </span>
                </button>
                </tbody>
            </table>
        </div>
    </div>
{% endblock edit_client %}
{% block scripts %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/function.js"></script>
{% endblock scripts %}