<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WAU travel</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body class="main">
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-header">

       <form class="navbar-form navbar-left" role="search">
           <div class="form-group">
               <img id="plane" src="/img/wau-travel.png"/>
           </div>
       </form>

    </div>
</nav>

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="hotel" class="col-sm-4 control-label"><img id="imghotel" src="/img/hotel1.png"/></label>
                                <div class="col-sm-8">
                                    <select id="hotel" class="form-control">
                                        <option value="" selected disabled>Please select</option>
                                        <option value=un>fdhdjvjhbhjbhj</option>
                                        <option value=deux>Deux</option>
                                        <option value=trois>Trois</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="hotel" class="col-sm-6 control-label"></label>
                            <span class="col-sm-4">ADULT</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <div class="form-group">
                                <label for="room" class="col-sm-2 control-label"><img class="board" src="/img/board.png"/></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="adult-breakfast" type="checkbox">Breakfast
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select class="form-control" >
                                                <option value="" selected disabled>Select</option>
                                                <option value=un>fdhdjvjhbhjbhj</option>
                                                <option value=deux>Deux</option>
                                                <option value=trois>Trois</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="adult-lunch" type="checkbox">Lunch
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option value="" selected disabled>Select</option>
                                                <option value=un>fdhdjvjhbhjbhj</option>
                                                <option value=deux>Deux</option>
                                                <option value=trois>Trois</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="adult-dinner" type="checkbox">Dinner
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option value="" selected disabled>Select</option>
                                                <option value=un>fdhdjvjhbhjbhj</option>
                                                <option value=deux>Deux</option>
                                                <option value=trois>Trois</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="form-group">
                                <label for="room" class="col-sm-3 control-label"><img class="room" src="/img/room2.png"/></label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="single" type="checkbox">Single
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select  class="form-control">
                                                <option value="" selected disabled>Select</option>
                                                <option value=un>fdhdjvjhbhjbhj</option>
                                                <option value=deux>Deux</option>
                                                <option value=trois>Trois</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="double" type="checkbox">Double
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select  class="form-control">
                                                <option value="" selected disabled>Select</option>
                                                <option value=un>fdhdjvjhbhjbhj</option>
                                                <option value=deux>Deux</option>
                                                <option value=trois>Trois</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="triple" type="checkbox">Triple
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select  class="form-control">
                                                <option value="" selected disabled>Select</option>
                                                <option value=un>fdhdjvjhbhjbhj</option>
                                                <option value=deux>Deux</option>
                                                <option value=trois>Trois</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="family" type="checkbox">Family
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option value="" selected disabled>Select</option>
                                                <option value=un>fdhdjvjhbhjbhj</option>
                                                <option value=deux>Deux</option>
                                                <option value=trois>Trois</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="extra-adult" type="checkbox">Extra bed
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <select  class="form-control">
                                                <option value="" selected disabled>select</option>
                                                <option value=un>fdhdjvjhbhjbhj</option>
                                                <option value=deux>Deux</option>
                                                <option value=trois>Trois</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row" id="board">
                            <div class="form-group">
                                <label for="hotel" class="col-sm-6 control-label"></label>
                                <span class="col-sm-4">CHILD</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-push-6">
                                <div class="form-group" >
                                    <label for="room" class="col-sm-2 control-label"><img class="board" src="/img/board.png"/></label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="child-breakfast" type="checkbox">Breakfast
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option value="" selected disabled>Select</option>
                                                    <option value=un>fdhdjvjhbhjbhj</option>
                                                    <option value=deux>Deux</option>
                                                    <option value=trois>Trois</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="child-lunch" type="checkbox">Lunch
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option value="" selected disabled>Select</option>
                                                    <option value=un>fdhdjvjhbhjbhj</option>
                                                    <option value=deux>Deux</option>
                                                    <option value=trois>Trois</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="child-dinner" type="checkbox">Dinner
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option value="" selected disabled>Select</option>
                                                    <option value=un>fdhdjvjhbhjbhj</option>
                                                    <option value=deux>Deux</option>
                                                    <option value=trois>Trois</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-pull-6">
                                <div class="form-group">
                                    <label for="room" class="col-sm-3 control-label"><img class="room" src="/img/room2.png"/></label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="extra-child" type="checkbox">Extra bed
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <select  class="form-control">
                                                    <option value="" selected disabled>select</option>
                                                    <option value=un>fdhdjvjhbhjbhj</option>
                                                    <option value=deux>Deux</option>
                                                    <option value=trois>Trois</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <img class="btn" id="save" src="/img/save.svg"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}

<script src="/js/jquery-2.2.4.min.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
{% block scripts %}
    <script src="/js/form.js"></script>
{% endblock scripts %}

</body>
</html>