
<?php session_start();?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WAU Travel Quota</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.css">

    <!--Stylesheet-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/info.css" rel="stylesheet">
    <link href="/css/funky.css" rel="stylesheet">
    <link href="/css/perfect-scrollbar.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body class="main">

<!-- Navigation -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand title-logo" href="{{ base_url() }}"><img class="center-block" id="logo" src="/images/logo_new.png"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="menu">
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Service</a>
                    <ul>
                        <li><a href="#">Room</a></li>
                        <li><a href="#">Prestation</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        {% block edit_client %}
        {% endblock edit_client %}

        {% block room_quota %}
        {% endblock room_quota %}
        {% block body %}
        {% endblock body %}

        {% block content %}
        {% endblock content %}

        {% block search_menu %}
            <!--Content RIGHT-->
            <div class="col-xs-3" >
                <div class="fixed">
                    <div class="well">
                        <h4>Quota Search <span id="search_glyphicon" class="glyphicon glyphicon-chevron-up"></span></h4>
                        <div class="input-group">
                            <input type="text" class="form-control search_control" disabled="disabled">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                        <div class="row" id="quota_list">
                            <div class="col-lg-12">
                                {% for i in 1..20 %}
                                    <div class="quota_lists">
                                        <a href="#">Quota n°{{ i }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                    </div>

                    {% block menu_room %}
                    {% endblock menu_room %}

                </div>
            </div>
        {% endblock search_menu %}

        {% block edit_room %}
        {% endblock edit_room %}

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<footer class="footer">
    <div class="container" style="margin-top: auto">
        <p class="text-muted rw-center">{{ 'now' | date("Y") }} WAU Travel</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Latest compiled and minified JavaScript -->
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/perfect-scrollbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-checkbox/1.4.0/bootstrap-checkbox.min.js"></script>
{% block scripts %}
    <script src="/js/function.js"></script>
    <script src="/js/form.js"></script>
{% endblock scripts %}

</body>
</html>