{% extends 'layout.twig' %}
{% block content %}
<div class="content">
   <div class="col-md-12 col-md-offset-1">
       <div class="col-md-2 col-md-push-10"></div>
       <div class="col-md-11 col-md-pull-1">
           <div class="table-responsive">
               <table class="table">
                   <thead>
                       <tr id="Thead">
                           <th rowspan="2">Code</th>
                           <th rowspan="2">Services</th>
                           <th rowspan="2">
                               Pax min
                           </th>
                           <th rowspan="2">
                               Pax max
                           </th>
                           <th >
                               Rate/day</th>
                           <th >
                               Number</th>
                           <th >
                              Person</th>
                           <th rowspan="2">
                               Total price
                           </th>
                       </tr>
                        <tr>
                            <th>Rate/litre</th>
                            <th >Number/litre</th>
                            <th>Pax</th>
                        </tr>
                   </thead>
                   <tbody id="Tbody" class="table-bordered">
                        <tr>
                            <td class="cod">1</td>
                            <td ><span>Guide</span></td>
                            <td title="min"><input name="paxmin" type="text" ></td>
                            <td  title="max"><input name="paxmax" type="text" ></td>
                            <td class="tarif">80000</td>
                            <td title="number"><input type="text" name="nbsvc"/></td>

                            <td class="type">Pax</td>
                            <td class="total"> </td>
                        </tr>
                        <tr>
                            <td class="cod">2</td>
                            <td><span >Location voiture</span></td>
                            <td title="min"><input name="paxmin" type="text" ></td>
                            <td  title="max"><input name="paxmax" type="text" ></td>
                            <td class="tarif">100000</td>
                            <td  title="number"><input type="text" name="nbsvc" /></td>

                            <td  class="type">Pax</td>
                            <td class="total"></td>
                        </tr>
                        <tr>
                            <td class="cod">3</td>
                            <td ><span>Entree parc</span></td>
                            <td title="min"><input name="paxmin" type="text" ></td>
                            <td  title="max"><input name="paxmax" type="text"></td>
                            <td class="tarif">5000</td>
                            <td  title="number"><input type="text" name="nbsvc"/></td>

                            <td  class="type">Person</td>
                            <td class="total"></td>
                        </tr>
                   </tbody>
                   <tfoot>
                    <tr id="Tfoot">
                        <td colspan="8">
                            <h2><button class="btn btn-danger" id="click">Quotation</button>Total</h2>
                        </td>
                    </tr>
                   </tfoot>
               </table>
           </div>
       </div>
   </div>
</div>
{% endblock content %}
{% block scripts %}
    <script src="/js/quotaprestation.js"></script>
{% endblock scripts %}
