{% extends 'layout.twig' %}
{% block content %}
<div class="content">

   <div class="col-md-12 col-md-offset-1">
       <div class="col-md-2 col-md-push-10"></div>
       <div class="col-md-10 col-md-pull-2">
           <div class="row">
               <div class="col-lg-6">
                   <div id="search" class="input-group">
                       <input type="text" class="form-control" placeholder="search quota">
                       <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search" style="right: 24px;color: black;"></i></button>
                </span>
                   </div>
               </div>
           </div>
           <div class="row">
               <table class="table-striped">
                   <thead>
                       <tr id="Thead">
                           <th rowspan="2">Code</th>
                           <th rowspan="2">Services</th>
                           <th rowspan="2">
                               Pax min
                           </th>
                           <th rowspan="2">
                               Pax max
                           </th>
                           <th rowspan="2">
                               <th>Rate/day</th>
                           </th>
                           <th rowspan="2">
                               <th>Number</th>

                           </th>
                           <th rowspan="2">
                               Total price
                           </th>
                           <th rowspan="2">
                               <th>Personne</th>

                           </th>
                       </tr>
                        <tr>
                            <th>Rate/litre</th>
                            <th >Number/litre</th>
                            <th>Pax</th>
                        </tr>
                   </thead>
                   <tbody id="Tbody">

                   </tbody>
                   <tfoot>
                    <tr>
                        <td colspan="8">
                            <h3>Total</h3>
                        </td>
                    </tr>
                   </tfoot>
               </table>
           </div>
       </div>
   </div>
</div>
{% endblock content %}
{% block scripts %}
    <script src="/js/quotaprestation.js"></script>
{% endblock scripts %}
