{% extends 'layout.twig' %}

{% block total_quota %}
    <!--Content LEFT-->
    <h1 class="page-header" id="reference">
        Quota total : {{ reference_quota }}
    </h1>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th width="18%">Start date</th>
                <th>Salary</th>
            </tr>
            </thead>
        </table>

    <hr>
{% endblock total_quota %}
{% block menu_room %}
    <!-- Side Widget Well -->
    <div class="well">
        <h4>Existing room for this quota</h4>
        {% if(existing_base|length > 0) %}
            {% for base in existing_base %}
                <div class="base_types">
                    <a class="base_type" href="#{{ (base|lower)|replace({' ' : '_'}) }}" >{{ base }}</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="no_base">
                No base for this quota !
            </div>
        {% endif %}
        <div class="add_room_button" data-popup-open="popup-1">Add hotel / room</div>
    </div>
{% endblock menu_room %}